body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(../src/Assets/img/fondo.jpg);
  background-size: cover;
  background-repeat: no-repeat;

}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  
}

.logo1 {
  width: 40%;
 margin-left: 20%;
 margin-top: 6%;

}
.boton{
margin-top: 8%;
display: flex;
position: relative;
left: 16%;
gap: 10%;


}
.logoCocina{
  width: 40%;
}