body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image:url(../src/Assets/img/fondo.jpg);
background-size: cover;
background-repeat: no-repeat;
min-height: 100vh;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo1{
width: 50%;
margin-left: 25%;
text-align: center;
margin-top: 5%;
}
.buttonsH{
margin-top: 5%;
margin-left: 40%;
}
.msj{
  padding-top: 10%;
  color: whitesmoke;
  text-align: center;
}

.logo2{
width: 20%;

}

.active {
  color: whitesmoke;
  text-decoration: none;
}
.no-active {
  color: gray;
  text-decoration: none;
}
.nav-home{
  font-size: 25px;

}

.nav-carrito{
  font-size: 25px;

}

.Total{
  color: yellow;

font-size: 23px;

}